#hello {
    height: 100%;

    .log-in-section {
        margin-top: 15%;
        margin-bottom: 15%;



    }

}

.custom-buttons {
    width: 100%;
}

.tall-buttons {
    height: 70px;
}

#home {

    .top-spread {
        margin-top: 20px;
    }

    #testing-beacon {
        background-color: #000;
    }
}
