#hello {
    height: 100%;

    .log-in-section {
        margin-top: 15%;
        margin-bottom: 15%;



    }

}

.custom-buttons {
    width: 100%;
}

.tall-buttons {
    height: 70px;
}

#home {

    .outer-div {
        border: 2px solid #0C88C0;
        border-radius: 4px;
    }

    .branding-img {
        width: 100%;
        margin-top: 20%;
        cursor: pointer;
    }

    .social-icons {
        width: 100%;
    }

    .some-bot-marg {
        margin-bottom: 10px;
    }

    .no-bot-marg {
        margin-bottom: 0;
    }

    .top-spread {
        margin-top: 20px;
    }

    .black {
        background-color: #000;
    }

    .pads {
        border-top: 1px solid #eee;
        padding-top: 4px;
    }

    .facebook-div {
        margin-top: 6px;
    }
    .twitter-div {
        margin-top: 6px;
    }
    .instagram-div {
        margin-top: 6px;
    }

    .log-out-button {
        cursor: pointer;
    }

    .my-blue {
        color: #0C88C0;
    }

    .my-back-blue {
        background-color: #0C88C0;
        color: white;
    }

    .connect-button {
        display: block;
        border: 1px solid #0C88C0;
        border-radius: 4px;
        padding: 4px 0px;
        font-size: 12px;
        cursor: pointer;
    }

    .start-beacon {
        display: block;
        border: 1px solid #0C88C0;
        border-radius: 4px;
        padding: 4px 0px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .testing-beacon {
        position: absolute;
        top: 300px;
    }

    .no-bot-pads {
        padding-bottom: 0;
    }
}
