<!doctype html>
<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="static/js/underscore.js"></script>
<script type="text/javascript" src="static/js/backbone-min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css">
<link type="text/css" rel="stylesheet/less" href="static/less/styles.less"/>
<script src="static/js/less.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Blitzkrieg</title>

<script id="hello-template" type="text/template">
    <div class="container">
        <div class="section log-in-section">
            <div class="row">
                <div class="col s12 m12 l8 offset-l2">
                    <div class="row">
                        <div class="branding">
                            <h4>Welcome to Blitzkrieg</h4>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l4 offset-l8">
                                    <button id="log-in-button" class="btn waves-effect waves-light custom-buttons">Log In
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <input id="first-name" type="text" class="validate">
                                    <label for="first-name">First Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="last-name" type="text" class="validate">
                                    <label for="last-name">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l4 offset-l8">
                                    <button id="register-button" class="btn waves-effect waves-light custom-buttons">Register
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<body>
    <div id="hello">
    </div>
</body>

<!-- Backbone Views File -->
<script src="static/views/hello_view.js" type="text/javascript"></script>

<html>
