<!doctype html>
<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="static/js/underscore.js"></script>
<script type="text/javascript" src="static/js/backbone-min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css">
<link type="text/css" rel="stylesheet/less" href="static/less/styles.less"/>
<script src="static/js/less.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Blitzkrieg</title>

<script id="home-template" type="text/template">
    <div class="container">
        <div class="section log-in-section">
            <div class="row">
                <div class="col s12 l8 offset-l2">
                    <div class="row">
                        <div class="col s12 l9 branding">
                            <h4>Welcome to Blitzkrieg</h4>
                        </div>
                        <div class="col s12 l3 log-out top-spread">
                            <button id="log-out-button" class="btn waves-effect waves-light">Log Out
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s12 l6 top-spread">
                            <a id="twitter-button" class="btn waves-effect waves-light custom-buttons tall-buttons">
                                Log In With Twitter
                            </a>
                        </div>
                        <div class="col s12 l6 top-spread">
                            {% if session.instagram_token %}
                            <a id="instagram-log-out" class="btn custom-buttons tall-buttons red darken-2">
                                Log Out of Instagram
                            </a>
                            {% else %}
                            <a href="https://instagram.com/oauth/authorize/?client_id=e7896c47f26e463ba097362492257dd7&redirect_uri=https://blitzkrieg.ngrok.io/instagram_redirect&response_type=code" id="instagram-button" class="btn waves-effect waves-light custom-buttons tall-buttons">
                                Log In With Instagram
                            </a>
                            {% endif %}
                        </div>
                        <div class="col s12 l6 top-spread">
                            <a id="start-beacon-button" class="btn waves-effect waves-light custom-buttons tall-buttons start-beacon">
                                Start Beacon
                            </a>
                        </div>
                        <div class="col s12 l6 top-spread">
                            <a id="testing-beacon" class="btn waves-effect waves-light custom-buttons tall-buttons testing-beacon">
                                Testing Beacon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<body>
    <div id="home">
    </div>
</body>

<!-- Backbone Views File -->
<script src="static/views/home_view.js" type="text/javascript"></script>

<html>
